<br><br><br>
<div class="statistics-container">
    <h2>Statistiques du Site</h2>
    <br><br>
    <p>
      Bienvenue sur la page des statistiques. Voici quelques données concernant les
      événements et les participants de notre site.
    </p>
    <br>
    <div class="stats">
      <div class="stat">
        <h2>{{ eventCount }}</h2>
        <p>Événements</p>
      </div>
      <div class="stat">
        <h2>{{ participationCount }}</h2>
        <p>Participations</p>
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="stats">
      <div class="stat">
        <h2>{{ usersCount }}</h2>
        <p>Utilisateurs</p>
      </div>
      <div class="stat">
        <h2>{{ resposCount }}</h2>
        <p>Responsables</p>
      </div>
    </div>
  </div>
