<br>
<div class="notifications">
    <div class="notification">
        <div class="icon"></div>
        <div class="content">
            <strong>Titre</strong>
            <p>mentioned you in her comment on Invoices</p>
        </div>
    </div>

    <div class="notification">
        <div class="icon"></div>
        <div class="content">
            <strong>Titre</strong>
            <p>mentioned you in her comment on Invoices</p>
        </div>
    </div>

    <div class="notification">
        <div class="icon"></div>
        <div class="content">
            <strong>Titre</strong>
            <p>mentioned you in her comment on Invoices</p>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
