<div class="event-container">
    <h2>{{ eventDetails.titre }}</h2>
    <br>
    <p><strong>Description :</strong> {{ eventDetails.description }}</p>
    <p><strong>Lieu :</strong> {{ eventDetails.lieu }}</p>
    <p><strong>Nombre de participants :</strong> {{ eventDetails.nbrParticipant }}</p>
    <p><strong>Rôle :</strong> {{ eventDetails.role }}</p>
    <p><strong>Décision :</strong> {{ eventDetails.decision }}</p>


    <br>
    <div class="button-group">
      <button *ngIf="eventDetails.decision ==='en attente'" class="accept" (click)="acceptEvent()">Accepter</button>
      <button *ngIf="eventDetails.decision==='en attente'" class="decline" (click)="openRefus()">Refuser</button>
    </div>
</div>

<br><br><br><br><br><br>


















