<br>
<div class="event-container">
    <h2>Détails de l'event</h2>
    <br>
    <p><strong>Description :</strong> dddd dddddd ddddddd dddddd ddddddd dddddddddd</p>
    <p><strong>Objectif :</strong> ooooooooo oooooooo oooo oooo ooooo ooooooo</p>
    <p><strong>Programme :</strong> ppp pppppp ppppp ppppp pppppp ppp ppp</p>
    <br><br><br>
    <div class="button-group">
        <button class="accept">Accepter</button>
    </div>
    <br><br><br>
    Au cas de refus, veuillez saisir la cause de refus:
    <textarea placeholder="Entrer rapport de cause de refus"></textarea>

    <button class="decline">Refuser</button>
</div>
<br>