<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:25px; padding-right:25px;">
  <a *ngIf="!role" class="navbar-brand" href=""><span style="color:blue;">É𝒹𝓊</span>𝐸𝓋𝑒𝓃𝓉</a>
  <a *ngIf="role==='Etudiant'" class="navbar-brand" href="etudiant"><span style="color:blue;">É𝒹𝓊</span>𝐸𝓋𝑒𝓃𝓉</a>
  <a *ngIf="role==='Responsable'" class="navbar-brand" href="responsable"><span style="color:blue;">É𝒹𝓊</span>𝐸𝓋𝑒𝓃𝓉</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="!role" class="nav-item active">
        <a class="nav-link" href="">Accueil</a>
      </li>
      <li *ngIf="!role" class="nav-item">
        <a class="nav-link" href="connexion">Connexion</a>
      </li>

      <li *ngIf="role==='Etudiant' " class="nav-item active">
        <a class="nav-link" href="etudiant">Accueil</a>
      </li>
      

      <li *ngIf="role==='Responsable' " class="nav-item active">
        <a class="nav-link" href="responsable">Accueil</a>
      </li>
      <li *ngIf="role==='Etudiant' " class="nav-item">
        <a class="nav-link" href="eventsdipo">Evénements disponibles</a>
      </li>
      <li *ngIf="role==='Etudiant' " class="nav-item">
        <a class="nav-link" href="eventsetud">Mes évenements</a>
      </li>
      <li *ngIf="role==='Responsable' " class="nav-item">
        <a class="nav-link" href="eventsRespo">Mes évenements</a>
      </li>
      <li *ngIf="role==='Etudiant' " class="nav-item">
        <a class="nav-link" href="notifications">Notifications</a>
      </li>
      <li *ngIf="role==='Responsable' " class="nav-item">
        <a class="nav-link" href="notificationsRespo">Notifications</a>
      </li>

      <li class="nav-item dropdown">
        <a  *ngIf="role==='Etudiant' || role==='Responsable'" class="nav-link"> ▼</a>
        <div class="dropdown-content">
          <a  *ngIf="role==='Responsable' || role==='Etudiant' " href="profilRespo">Profil</a>
          <a (click)="logout()">Déconnexion</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
