.background-radial-gradient {
    background-color: hsl(218, 87.70%, 58.40%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(219, 93.50%, 69.60%) 15%,
        hsl(218, 89.10%, 74.70%) 35%, 
        hsl(218, 85.10%, 68.40%) 75%,
        hsl(218, 81%, 65%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
      hsl(219, 93.50%, 69.60%) 15%,
      hsl(218, 89.10%, 74.70%) 35%, 
      hsl(218, 85.10%, 68.40%) 75%,
      hsl(218, 81%, 65%) 80%, 
        transparent 100%);
}

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b,hsl(263, 88.90%, 71.80%));
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b,hsl(263, 83.60%, 76.10%));
    overflow: hidden;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  button:hover {
    background-color: hsl(218, 80%, 68%) !important;
  }