<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left:25px; padding-right:25px;">
    <a class="navbar-brand" href="/responsable"><span style="color:blue;">É𝒹𝓊</span>𝐸𝓋𝑒𝓃𝓉</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/responsable">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eventsRespo">Mes évenements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notificationsRespo">Notifications</a>
        </li>
        
        <li class="nav-item dropdown">
            <a  class="nav-link">Salwa Bounajra ▼</a>
            <div class="dropdown-content">
                <a href="/profilRespo"> Profil</a>
                <a href="connexion"> Déconnexion </a>
            </div>
        </li>
    
      </ul>
    </div>
  </nav>
  