<br>
<h3>Ajouter un nouveau événement</h3>
<br><br><br>
<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-25">
        <label for="titre">Titre</label>
      </div>
      <div class="col-75">
        <input type="text" id="titre" [(ngModel)]="evenement.titre" name="titre" placeholder="Titre de l'événement.." required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea id="description" [(ngModel)]="evenement.description" name="description" placeholder="Description de l'événement.." style="height:100px" required></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="lieu">Lieu</label>
      </div>
      <div class="col-75">
        <input type="text" id="lieu" [(ngModel)]="evenement.lieu" name="lieu" placeholder="Lieu de l'événement.." required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="nbrParticipant">Nombre de participants</label>
      </div>
      <div class="col-75">
        <input class="nb" type="number" id="nbrParticipant" [(ngModel)]="evenement.nbrParticipant" name="nbrParticipant" placeholder="Nombre de participants.." min="0" max="100" required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="dateDebut">Date début</label>
      </div>
      <div class="col-75">
        <input class="nb" type="date" id="dateDebut" [(ngModel)]="evenement.dateDebut" name="dateDebut" required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="dateFin">Date fin</label>
      </div>
      <div class="col-75">
        <input class="nb" type="date" id="dateFin" [(ngModel)]="evenement.dateFin" name="dateFin" required>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="responsable">Responsable</label>
      </div>
      <div class="col-75">
        <select id="responsable" [(ngModel)]="evenement.responsable" name="responsable" required>
          <option *ngFor="let responsable of responsables" [value]="responsable.id">
            {{ responsable.lastname }} {{ responsable.username }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="role">Role</label>
      </div>
      <div class="col-75">
        <input type="text" id="role" [(ngModel)]="evenement.role" name="role" placeholder="Rôle du responsable.." required>
      </div>
    </div>

    <br>
    <div class="row">
      <input type="submit" value="Ajouter">
    </div>
  </form>
</div>
