<div class="container">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="text-center my-4">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Error message -->
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <!-- Events table -->
  <table mat-table [dataSource]="evenements" class="mat-elevation-z8" *ngIf="!isLoading && !errorMessage">

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let event; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- Titre Column -->
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let event"> {{ event.titre }} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let event"> {{ event.description }} </td>
    </ng-container>

    <!-- Date Fin Column -->
    <ng-container matColumnDef="dateFin">
      <th mat-header-cell *matHeaderCellDef> Date Fin </th>
      <td mat-cell *matCellDef="let event"> {{ event.dateFin | date:'dd/MM/yyyy' }} </td>
    </ng-container>

    <!-- Responsable Column -->
    <ng-container matColumnDef="responsable">
      <th mat-header-cell *matHeaderCellDef> Responsable </th>
      <td mat-cell *matCellDef="let event"> {{ event.responsable }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let event">
    <!-- Add your action buttons here, dynamically binding the idEvent -->
    <button mat-button>
      <a [routerLink]="['/detailsEventRespo', event.idEvenement]">Action</a>
    </button>
     </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No events message -->
    <tr *ngIf="evenements.length === 0">
      <td colspan="6" class="text-center">
        Aucun événement trouvé
      </td>
    </tr>
  </table>
</div>