<p>Vous avez de nouveaux événements en attente de votre validation. Acceptez ou refusez-les pour finaliser leur statut</p>
<br>

<table class="table" *ngIf="!isLoading && !errorMessage">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre de l'événement</th>
      <th scope="col">Description</th>
      <th scope="col">Decision</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let evenement of evenements; let i = index"
      [ngClass]="{ 'bg-gray': evenement.decision === 'En attente' }"
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ evenement.titre }}</td>
      <td>{{ evenement.description }}</td>
      <td *ngIf="evenement.decision ==='Refusé'" ><mat-icon>clear</mat-icon></td>
      <td *ngIf="evenement.decision ==='Accepté'" ><mat-icon>done_all</mat-icon></td>
      <td *ngIf="evenement.decision ==='en attente'" ><mat-icon>hourglass_empty</mat-icon></td>
      <td>
        <a [routerLink]="['/detailsEventRespo', evenement.idEvenement]"><mat-icon>info</mat-icon></a>
      </td>
    </tr>
  </tbody>
</table>


<!-- Message d'erreur -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<!-- Spinner de chargement -->
<div *ngIf="isLoading" class="text-center">
  <mat-spinner></mat-spinner>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
