<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Date</th>
        <th scope="col">Lieu</th>
        <th scope="col">Rôle</th>
        <th scope="col">Statut</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Event 1</td>
        <td>1/03/2025</td>
        <td>Rabat</td>
        <td>Encadrant</td>
        <td>En attente</td>
        <td><a href="/detailsEventRespo">Détails</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Event 2</td>
        <td>22/02/2025</td>
        <td>Rabat</td>
        <td>Encadrant</td>
        <td>En attente</td>
        <td><a href="/detailsEventRespo">Détails</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Event 3</td>
        <td>16/01/2025</td>
        <td>Rabat</td>
        <td>Encadrant</td>
        <td>En attente</td>
        <td><a href="/detailsEventRespo">Détails</a></td>
      </tr>
    </tbody>
  </table>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  