<div class="d-flex flex-wrap" style="gap: 10px; width: 100%; background-color: #f0f8ff; padding-top:35px; padding-bottom:95px; padding-left:95px; padding-right:15px;">
  <!-- Vérification si les événements sont chargés -->
  <div *ngIf="isLoading(); else eventCards">
    <p>Chargement des événements disponibles...</p>
  </div>

  <!-- Affichage des cartes d'événements -->
  <ng-template #eventCards>
    <div *ngFor="let evenement of evenements" class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">{{ evenement.responsable }}</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="#" style="text-decoration: none; font-weight: bold;">
          {{ evenement.titre }}
        </a>
        <p class="card-text">{{ evenement.description }}</p>
      </div>
      <div class="card-footer bg-transparent border-primary">{{ evenement.dateFin | date: 'dd/MM/yyyy' }}</div>
    </div>
  </ng-template>
</div>
