 
  <div class="d-flex flex-wrap" style="gap: 10px; width: 100%; background-color: /detaileventf0f8ff; padding-top:35px; padding-bottom:95px; padding-left:95px; padding-right:15px;">
    <!-- Carte 1 -->
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text"></p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>
  
    <!-- Carte 2 -->
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>
  
    <!-- Carte 3 -->
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>
  
    <!-- Carte 4 -->
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">description</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>
    
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>
  
    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

    <div class="card border-primary mb-3" style="width: 18rem; background: rgba(168, 53, 234, 0.06);">
      <div class="card-header bg-transparent border-primary">Responsable</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" href="/detailevent" style="text-decoration: none; font-weight: bold;">Titre event</a>
        <p class="card-text">Description event</p>
      </div>
      <div class="card-footer bg-transparent border-primary">Date fin</div>
    </div>

  </div>