<div class="d-flex flex-wrap">
  <!-- Vérification si les événements sont chargés -->
  <div *ngIf="isLoading(); else eventCards">
    <p>Chargement des événements disponibles...</p>
  </div>

  <!-- Affichage des cartes d'événements -->
  <ng-template #eventCards>
    <div *ngFor="let evenement of evenements" class="card mb-3" style="width: 18rem; background: rgba(255, 255, 255, 0.56); color: blue;">
      <div class="card-header bg-transparent">{{ evenement.responsableNomComplet }}</div>
      <div class="card-body text-dark">
        <a class="card-title text-dark" [routerLink]="['/detailevent', evenement.idEvenement]" style="text-decoration: none; font-weight: bold;">
          {{ evenement.titre }}
        </a>
        <p class="card-text">{{ evenement.description }}</p>
      </div>
      <div class="card-footer bg-transparent">{{ evenement.dateFin | date: 'dd/MM/yyyy' }}</div>
    </div>
  </ng-template>
</div>
